logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
.DS_Store
*.swp

/app/**/*.js
/lib/**/*.js
/test/**/*.js
/config/**/*.js
/scripts/**/*.js
app.js
*.d.ts
*.js.map
.vscode
!typings/**/*.d.ts
!index.d.ts
